<div class="w-full truncate font-Roboto">
  <aside id="Sidebar" class="sidebar p-0 m-0">
    <div class="flex flex-col h-full">
      <div class="flex flex-col h-16 justify-center m-0 pt-2 px-4 lg:hidden">
        <img class="text-6xl" src="../../assets/logo.svg" alt="">
      </div>
      <div class="flex flex-col h-16 justify-center m-0 pt-2 px-4">
        <h1 class="text-xl font-bold text-mid-gray-1">MY DOCUMENTS</h1>
      </div>
      <div class="flex flex-col flex-grow overflow-y-auto px-4 py-4 mt-4">
        <button class="px-4 py-2 bg-orange text-white rounded-md hover:bg-red" (click)="createNewDocument()">+ New
          Document</button>
        <div class="flex items-center mt-4" *ngFor="let doc of documents.slice().reverse()" (click)="viewDocument(doc)">
          <div class="icon"><img src="../../assets/icon-document.svg" alt="document icon"></div>
          <div class="documentName flex flex-col ml-4">
            <p class="text-mid-gray-2">{{doc.createdAt}}</p>
            <h4 class="text-white cursor-pointer hover:text-orange">{{doc.name}}</h4>
          </div>
        </div>
      </div>
      <div class="theme-container">
        <img src="../../assets/icon-dark-mode.svg" alt="moon-image">
        <label class="switch">
          <input type="checkbox" (change)="toggleTheme()" [checked]="!isDarkTheme">
          <span class="slider round"></span>
        </label>
        <img src="../../assets/icon-light-mode.svg" alt="sun-image">
      </div>
    </div>
  </aside>

  <header class="header fixed flex w-full h-16 bg-dark-gray p-0 truncate z-50" id="header">
    <div class="flex items-center lg:w-1/4 h-full justify-between p-0 pr-2 m-0">
      <div
        class="menu w-[56px] md:w-[72px] h-full  flex items-center justify-center bg-mid-gray-2 text-white cursor-pointer hover:bg-orange"
        id="menuButton" (click)="openNav()">
        <img class="" src="../../assets/icon-menu.svg" alt="">
      </div>
      <div
        class="hidden menu  w-[56px] md:w-[72px] h-full  items-center justify-center bg-mid-gray-2 text-white cursor-pointer  hover:bg-orange"
        id="closeButton" (click)="closeNav()">
        <img src="../../assets/icon-close.svg" alt="">
      </div>
      <div class="logo hidden lg:flex lg:items-center lg:justify-center">
        <img class="text-6xl" src="../../assets/logo.svg" alt="">
      </div>
      <div class="lg:border-l-2 lg:border-gray-400 h-8"></div>
    </div>

    <div class=" w-full flex items-center justify-between md:mx-4">
      <div class="documentName flex items-center">
        <div class="icon w-[13px]"><img src="../../assets/icon-document.svg" alt="document icon"></div>
        <div class="documentName flex flex-col ml-2 md:ml-4" *ngIf="selectedDocument">
          <p class="hidden md:block text-mid-gray-2">Document Name</p>
          <input type="text" [(ngModel)]="selectedDocument.name"
            class="nameInput text-white md:text-2xl bg-mid-gray-1 placeholder-white border-none rounded-md focus:outline-none focus:border-transparent"
            [placeholder]="selectedDocument.name">
        </div>
      </div>
      <div class="save&deleteDocument flex items-center" id="save&deleteDocument">
        <div class="deleteIcon cursor-pointer" (click)="confirmDelete()">
          <svg width="18" height="20" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7 16a1 1 0 0 0 1-1V9a1 1 0 1 0-2 0v6a1 1 0 0 0 1 1ZM17 4h-4V3a3 3 0 0 0-3-3H8a3 3 0 0 0-3 3v1H1a1 1 0 1 0 0 2h1v11a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V6h1a1 1 0 0 0 0-2ZM7 3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v1H7V3Zm7 14a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V6h10v11Zm-3-1a1 1 0 0 0 1-1V9a1 1 0 0 0-2 0v6a1 1 0 0 0 1 1Z"
              fill="#7C8187" class="hover:fill-orange" />
          </svg>
        </div>
        <button (click)="saveChanges()"
          class="hidden md:flex items-center p-2 ml-4 bg-orange text-white rounded hover:bg-red">
          <img class="mr-2" src="../../assets/icon-save.svg" alt="save-icon">Save Change
        </button>
        <button (click)="saveChanges()"
          class="flex items-center justify-center p-2 mx-2 w-[40px] bg-orange text-white rounded md:hidden hover:bg-red">
          <img src="../../assets/icon-save.svg" alt="save-icon">
        </button>
      </div>
    </div>

  </header>
  <div class="w-full truncate pt-16" id="contentContainer">
    <app-body-content></app-body-content>
  </div>
</div>

<div id="deletePopUp" class="hidden fixed inset-0 items-center justify-center bg-black bg-opacity-60 z-50"
  *ngIf="selectedDocument">
  <div class="popup-content bg-white px-4 py-8 rounded shadow-lg text-start">
    <h1 class="font-semibold text-2xl mb-4">Delete this document?</h1>
    <p class="mb-4 text-mid-gray-2">Are your sure you want to delete the <br> '{{selectedDocument.name}}' document and
      its content? <br> This action cannot be reversed</p>
    <button id="closePopup" class="px-8 py-2 mt-2 w-full bg-orange text-white rounded hover:bg-red"
      (click)="deleteDocument()">Confirm & Delete</button>
  </div>
</div>