<div class="w-full">
  <header class="flex w-full h-16 bg-dark-gray p-0">
    <div class="flex items-center w-1/5 h-full justify-between p-0 pr-2 m-0">
      <div class="menu h-full px-4 flex items-center bg-mid-gray-1 text-white">
        <img src="../../assets/icon-menu.svg" alt="">
      </div>
      <div class="logo">
        <img class="text-6xl" src="../../assets/logo.svg" alt="">
      </div>
    </div>

    <div class="container flex items-center justify-between mx-4 ">
      <div class="documentName flex items-center pl-4 border-l-2 border-gray-400 h-8">
        <div class="icon"><img src="../../assets/icon-document.svg" alt="document icon"></div>
        <div class="documentName flex flex-col ml-4">
          <p class="text-mid-gray-2">Document Name</p>
          <h4 class="text-white">welcome.md</h4>
        </div>
      </div>
      <div class="saveDocument flex items-center">
        <img src="../../assets/icon-delete.svg" alt="delete-icon">
        <button class="flex items-center p-2 ml-4 bg-orange text-white rounded"> <img class="mr-2"
            src="../../assets/icon-save.svg" alt="save-icon">Save Change</button>
      </div>
    </div>

  </header>
</div>