<!-- <header class="w-full flex text-justify bg-dark-gray">
  <div class="menu-icons py-8">
    <div class="hamburg-menu text-black"> <img src="../assets/icon-menu.svg" alt="" srcset=""></div>
    <div class="close"> <img src="../assets/logo.svg" alt="" srcset=""></div>
  </div>
</header>
<div class="container flex text-dark-gray">
  <div class="container">
    <h1 class="text-center">hello</h1>
  </div>
  <div class="container">
    <h1 class="text-center">Abdel</h1>
  </div>
</div> -->

<!-- <textarea class="variable-textarea" [(ngModel)]="markdown"></textarea>
<markdown class="prose variable-binding" [data]="markdown"></markdown> -->

<app-header></app-header>